.complete-modal-body {
  z-index: 12;
  background: white;
  margin: 7% auto;
  width: 65%;
  max-height: 630px;
  border-radius: 15px;
}

.review-work-btn {
  background: orange;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 6px;
  border: 0px;
  box-shadow: 0;
}

.review-work-btn:hover {
  background: green;
  transition: 0.2s ease-out;
}
.complete-modal-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.complete-overlay {
  background: black;
  height: 100vh;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: 11;
}

.text-entry-box {
  background: #3c3d5f;
  color: orange;
  font-size: 17px;
  white-space: pre-wrap;
  width: 100%;
  border-radius: 13px;
  font-weight: bold;
  padding: 25px;
  border: solid 3px orange;
  resize: none;
  min-height: 238px;
}

.text-entry-box:focus {
  outline: 0;
}

.text-entry-box::placeholder {
  font-style: italic;
  color: whitesmoke;
}

.chosen-answer-active {
  background: green;
  color: white;
  border: white;
  cursor: pointer;
  border-color: green !important;
}
.chosen-answer-active:hover {
  transform: scale(1.02);
  transition: 0.2s ease-out;
  border-color: green !important;
}

.top-line {
  height: 10px;
  background: orange;
  width: 100%;
  border-style: double;
  border-color: white;
}

.round-btns {
  margin: 10px;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  border-radius: 55px;
  background: white;
  border: 0;
  background: black;
  color: white;
}
.raw-score {
  font-size: 7rem;
  color: green;
  margin-top: 15px;
  font-weight: bold;
}

.round-btns:hover {
  background: orange;
  color: white;
  transition: 0.2s ease-out;
}
.timer-progress-bar {
  width: 97%;
  background: orange;
  height: 20px;
  display: inline-block;
  border-radius: 55px;
  margin-left: 5px;
}
.question {
  min-height: 200px;
}
.answer-selected {
  border-color: green !important;
  color: green !important;
}

.answer-wrong {
  border-color: maroon !important;
  color: maroon !important;
}

.one-answer {
  font-size: 22px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  border: solid 2px white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.one-answer:hover {
  border-color: orange;
  transform: scale(1.02);
  transition: 0.2s ease-out;
}
.email-box {
  border: solid 0px #efefef;
  display: block;
  border-bottom-width: 2px;
  font-size: 15px;
  color: black;
  margin-bottom: 5px;
  width: 100%;
}
.textarea {
  width: 100%;
  resize: none;
  display: block;
  color: black;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: solid 0px #efefef;
  border-bottom-width: 2px;
}

.send-btn {
  background: orange;
  color: white;
  width: 90%;
  padding: 12px;
  position: absolute;
  bottom: 0px;
  border: 0;
  left: 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-weight: bold;
}

.send-btn:hover {
  background: black;
  transition: 0.2s ease-out;
}

.remove-outline:focus {
  outline: 0;
}

.contact-us-box {
  height: 500px;
  border-radius: 10px;
}

.one-question {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 5px 0px;
}
.one-question > p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.q-default {
  /* color: grey;
  border: solid 2px grey; */
  color: black;
  border: solid 2px black;
}
.q-default:hover {
  transform: scale(1.01);
  transition: 0.2s ease-out;
}

.q-in-motion {
  color: #c58002;
  border: solid 2px #c58002;
}
.q-completed {
  color: black;
  border: solid 2px black;
}
.q-completed > p {
  color: black;
}

.q-active {
  color: orange;
  border: solid 2px orange;
}
.q-active > p {
  color: orange;
}

.user-profile-photo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: solid 2px orange;
  /* padding:5px; */
  object-fit: cover;
}

.custom-card > p {
  font-size: 13px;
  font-weight: bold;
  color: black;
  margin-top: 6px;
}

.custom-card {
  text-align: center;
  padding: 15px 15px 5px 15px;
  background: white;
  border-radius: 8px;
}
.c-container {
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}
.up-div {
  padding: 50px;
  text-align: center;
  background: white;
  height: 50vh;
}

.up-div > h1 {
  font-size: 4rem;
  color: #ff9800;
  text-shadow: 1px 1px 2px #6b5a1d;
}
.up-div h3 {
  font-size: 1.8rem;
  color: antiquewhite;
  text-shadow: 1px 2px 2px #ca6e59;
}

.down-div {
  background: #ffc107;
  height: 50vh;
}
.name-area {
  padding: 20px;
  height: 146px;
  width: 35%;
  position: fixed;
  top: 43vh;
  left: 34%;
  border-radius: 12px;
}
.name-area h3 {
  font-size: 21px;
  font-weight: bold;
}
.go-btn {
  padding: 10px 15px;
  background: #215221;
  color: white;
  cursor: pointer;
  border: 0;
  font-size: 18px;
  border-radius: 80px;
  font-weight: bold;
  text-shadow: -1px 1px 15px black;
}

.go-btn:hover {
  background: #d69215;
  transition: 0.2s ease-out;
}
.go-btn:focus {
  outline: 0;
}

.name-box {
  margin-top: 30px;
  /* padding: 20px; */
  width: 88%;
  font-size: 26px;
  border: 0px;
  background: #ffc107;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
}

.name-box:focus {
  outline: 0;
}
.name-box::placeholder {
  color: white;
}

.circle {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  position: fixed;
  top: 35vh;
  left: 40%;
  cursor: pointer;
}
.circle:hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
}

.circle:active {
  transform: scale(6);
  transition: 0.2s ease-out;
  background: white;
}
.circle::after {
  content: "";
  color: white;
  position: absolute;
  top: 10vh;
  left: 39%;
  font-size: 40px;
  color: #deabab;
  border: solid 50px transparent;
  border-left-width: 10px;
  border-left-width: 20px;
  border-left-color: #68af17;
  border-left-width: 87px;
}

.lift {
  box-shadow: 0 2px 0px 0 rgb(0 0 0 / 0%), 0 3px 46px 0 rgb(0 0 0 / 26%);
  -webkit-box-shadow: 0 2px 0px 0 rgb(0 0 0 / 0%), 0 3px 46px 0 rgb(0 0 0 / 26%);
}

.lift-slightly {
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, -1.84), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, -1.84),
    0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
